

table {
	border-style: double;
	margin-left: 10%;
	/*align:center;*/
	border: 0;
}
div div table {
	
}



tbody {
	overflow:auto;
	/*align:center;*/
}

td {
	border-style: solid;
	text-align:center;
	
}

/*td.nth-child(1){ text: bold;}*/

tr td{
}
	
textarea {
	
}

tfoot {
	
}

th {
	
}

thread {
	
}

title {
	
}

tr {

}

tt {
	
}

ul {
	
}

var {
	
}



.frame{
	background-image: url("brickbackground.jpg");
	margin: 0;
}
.main{
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 60px;
	background-color: white;
}

/*.content{
		background-image: url("nicklogo.png");
		background-repeat: no-repeat;
		background-position: right;
		background: mm; 
}*/


.header{
	margin-top: 2%;
}

.header h1{
	margin-top: 5px;
	font-family: cursive;
	font: bold;
	color: white;
}

.navigation{
	background-repeat: no-repeat;
	background-position: right;
	margin-top: 30px;
	margin-bottom: 40px;
}

body {
	font: normal 100.01% serif, Helvetica, Arial, sans-serif;
	color: black;
	background-color: white;
	background-image: url("brickbackground.jpg");
}

ul#headerUL {
	font: normal 100.00% serif, Helvetica, Arial;
	background-color: white;
	text-align: center;
}

ul#Navigation {
	margin: 0;
	padding: 0.8em;
	text-align: center;
		
}

ul#Navigation li {
	list-style: none;
	display: inline;
	margin: 0.4em;
	padding: 0;
}

ul#Navigation a,ul#Navigation span {
	padding: 0.2em 1em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid black;
	border-left-color: white;
	border-top-color: white;
	color: black;
	background-color: #ccc;
}

* html ul#Navigation a,* html ul#Navigation span {
	width: 1em; /* nur fuer IE 5.0x erforderlich */
	width: auto; /* sicherheitshalber fuer IE 6 zurueckgesetzt */
}

ul#Navigation a:hover,ul#Navigation span {
	border-color: white;
	border-left-color: black;
	border-top-color: black;
	color: white;
	background-color: black;
	text-shadow: white;
}

#textzentriert {
	text-align: center;
	font-weight: bold;
}

#impressum {
	text-align: center;
}


#footer {
	font-size: small;
	position: center;
	bottom: 0px;
	text-align: center;
	position: center;
	color: white;
	background-image: url("brickbackground.jpg");
}

thead.fixedHeader tr {
	position: relative;
	margin-top: 60px;
}

html>body thead.fixedHeader tr {
	display: block;
	width: 110%;
}

/* make the TH elements pretty */
thead.fixedHeader th {
	background: #C96;
	border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8;
	font-weight: normal;
	padding: 2px 3px;
	text-align: center;
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;
	height: 280px;
	overflow: auto;
	width: 110%;
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
tbody.scrollContent td,tbody.scrollContent tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px;
}



/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body thead.fixedHeader th {
	width: 45px;
}

html>body thead.fixedHeader th+th {
	width: 120px;
}

html>body thead.fixedHeader th+th+th {
	width: 450px;
}

html>body thead.fixedHeader th+th+th+th {
	width: 358px;
}

html>body thead.fixedHeader th+th+th+th+th {
	width: 100px;
}
/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body tbody.scrollContent td {
	width: auto;
}

html>body tbody.scrollContent td+td {
	width: auto;
}

html>body tbody.scrollContent td+td+td {
	width: auto;
}

html>body tbody.scrollContent td+td+td+td {
	width: auto;
}

html>body tbody.scrollContent td+td+td+td+td {
	width: 90px;
}




