@CHARSET "UTF-8";

body>img {
	
}

.frame {
	background-image: url("brickbackground.jpg");
	margin: 0;
}

.main {
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 60px;
	margin-right: 60px;
	background-color: white;
}

.header {
	margin-top: 2%;
}

.header h1 {
	margin-top: 5px; font-family : cursive;
	font: bold;
	color: white;
	font-family: cursive;
}

.navigation {
	background-repeat: no-repeat;
	background-position: right;
	margin-top: 30px;
	margin-bottom: 40px;
}

body {
	font: normal 100.01% serif, Helvetica, Arial, sans-serif;
	color: black;
	background-color: white;
	background-image: url("brickbackground.jpg");
}

ul#headerUL {
	font: normal 100.00% serif, Helvetica, Arial;
	background-color: white;
	text-align: center;
}

ul#Navigation {
	margin: 0;
	padding: 0.8em;
	text-align: center;
}

ul#Navigation li {
	list-style: none;
	display: inline;
	margin: 0.4em;
	padding: 0;
}

ul#Navigation a,ul#Navigation span {
	padding: 0.2em 1em;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid black;
	border-left-color: white;
	border-top-color: white;
	color: black;
	background-color: #ccc;
}

* html ul#Navigation a,* html ul#Navigation span {
	width: 1em; /* nur fuer IE 5.0x erforderlich */
	width: auto; /* sicherheitshalber fuer IE 6 zurueckgesetzt */
}

ul#Navigation a:hover,ul#Navigation span {
	border-color: white;
	border-left-color: black;
	border-top-color: black;
	color: white;
	background-color: black;
	text-shadow: white;
}

#textzentriert {
	text-align: center;
	font-weight: bold;
}

#impressum {
	text-align: center;
}

#footer {
	font-size: small;
	position: center;
	bottom: 0px;
	text-align: center;
	position: center;
	color: white;
	background-image: url("brickbackground.jpg");
}